<h1>Editing Exercise</h1>
<br/>
<%= render 'form', exercise: @exercise %>

<br/>
<%= link_to 'Show', @exercise, class:"btn btn-secondary" %>
<%= link_to 'Back', exercises_path, class:"btn btn-dark" %>